<!DOCTYPE html>
<html>
<head>
  <title><%= @js_app_name %></title>
  <meta http-equiv="X-UA-Compatible" content="IE=EDGE; IE=9; IE=8;">
  <%= stylesheet_link_tag "stylesheets/oceanfront/oceanfront", "common", @js_app_name, :media => "all" %>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <%= javascript_include_tag "tools/jquery.cookie", "tools/jquery.base64.js",  "javascripts/oceanfront/oceanfront", "javascripts/oceanfront/extension-ocean", "common", @js_app_name %>
  <%= javascript_include_tag ".config/config.js" %>
</head>
<body>
	<div id="bootstrap">
		
	</div>

</body>
</html>
